
<div class='panel' class='landing'> 
  <div id='topz'class="row">
    <div id='landtext' class='large-9 large-centered columns'>
         <span class='landtext'>
          <p id='topt'>
      Artificially Intelligent emotion recongnition software that allows webcams to "look back" and read people's facial micro-expressions as they watch videos.</p></span>
       </div>  
     </div>
  <div id='woform' class='row'>
     
    <div id='womanz' class="large-5 columns">
     <span id='wopic'> <%= link_to image_tag("woman1.png", alt:"woman")%></span>
    </div>
    <div class="large-5 columns">
     <h2 class='text-left'><span id='req'>Request Demo</span></h2><br/>
		  <%= render 'users/form' %>
    </div>
    <div class="large-2 columns">
    </div>
  </div> 
</div>

