<div class='panel' class='privatepage'> 
  <div class='row'>
    <div id='privatez' class='large-10 large-centered columns'>
	  <h2 dir="ltr">Privacy Policy</h2>
		<p dir="ltr">COMMITMENT TO PRIVACY</p>
		<p dir="ltr">Eyeris respects the importance that consumers place on privacy. The information below explains our privacy policies with respect to the technical services we provide to our business customers. Our goal is to help you understand how we collect, use and disclose information as we provide services to others. We also understand that it is sometimes hard to find useful information about privacy, so we created this page as a reference document that explains how we approach privacy and data collection as we provide our services. Reviewing the privacy policies of the companies with whom you do business and observing related notices and disclosures where you may shop or otherwise be observed remains one of the best ways you can make informed choices about privacy.</p>
		<p dir="ltr">INFORMATION EYERIS TECHNICAL SERVICES Collects AND HOW IT IS USED</p>
		<p dir="ltr">Information We Use</p>
		<p dir="ltr">Eyeris does not collect or use any personally identifiable information to provide its services. In fact, our goal is to ensure that we never know who you are when analyzing data. Instead, Eyeris collects and relies on non-personal information from anonymous and other licensed data sets to create the technology that enables our services. Our technology acts as an enabling agent to our business and developer customers, so they measure audience analytics and provide an improved, more tailored experience based on factors such as gender, age, dwell time, attention time, distance and glances. We require that our corporate customers limit and protect us from accessing personal information as we do business with them. Because privacy is important to you, it is important to us.</p>
		<p dir="ltr">How Eyeris Technical Services Use Non-Personal Information</p>
		<p dir="ltr">Keep in mind that except for assisting certain customers with service-related issues, Eyeris should never learn who you are and strives to avoid learning this information. Eyeris uses only non-personal analytics information we obtain from our partners to optimize our internal systems and provide information about goods and services that may interest you, based on relationships between proprietary models we have developed and our systems comparisons of those models with consumers viewing locations where we assist with display content.</p>
		<p dir="ltr">Information Retention</p>
		<p dir="ltr">Eyeris Technical Services collection, use and disclosure of information is generally governed by service agreements with our business customers. Information relied upon to provide our Technical Services is only retained for as long as we have a valid business purpose and in accordance with applicable law. As with all of our business processes, we ensure that any retained information is not personally identifiable.</p>
		<p dir="ltr">EYERIS TECHNICAL SERVICES TRANSFER AND INFORMATION SHARING</p>
		<p dir="ltr">We do not share information collected data through our Technical Services with third parties except as described here. We may share and aggregate de-identified information with third parties to the extent permitted by our partners. Any information we share with others does not personally identify you or otherwise allow anyone to identify you individually. Keep in mind, Eyeris does not want to know who you are and we constantly work to avoid having that kind of information. We don’t share your personal information, because, quite simply, we don’t have it. Eyeris does not otherwise share personal information about individuals it may observe as it provides its Technical Services with third parties, unless doing so is appropriate to carry out a user’s request; or Eyeris reasonably believes that doing so is legally required; or it is in Eyeris’ interest to protect its property or other legal rights; or the rights or property of others.</p>
		<p dir="ltr">CHANGES AND UPDATES</p>
		<p dir="ltr">We may occasionally update our policies and procedures relating to Eyeris Technical Services. When we do, we will also revise the “effective date” on these pages. Because Eyeris Technical Services are offered principally on behalf of and through other businesses, such as those providing billboard and related display advertising, we encourage you to periodically review the privacy practices and disclosures of venues and other areas where are our Technical Services may be used. At the same time, we encourage you to regularly visit these pages to help you understand our practices.</p>
		<p dir="ltr">CONTACTING EYERIS</p>
		<p dir="ltr">If you have any questions, comments, or concerns about Eyeris or Eyeris Technical Services and privacy, please email us at privacy [at] eyeristech.com. In the event that we are still unable to resolve your concerns, Eyeris is committed to cooperating to achieve a proper resolution of your privacy concerns.</p>
		<p>Postal Mail Address:</p>
		<ul class='vcard'>
			<li>EYERIS</li>
			<li>Attn: Privacy Department</li>
			<li>800 West El Camino Real</li>
			<li>Suite 180</li>
			<li>Mountain View, CA 94040</li>
        </ul>
<br />
	

     </div>
  </div>
</div>