<div class='panel' class='landing'> 
  <div id='topz'class="row">
    <div id='landtext' class='large-9 large-centered columns'>
         <span class='landtext'>
          <p id='topt'>
          Thank you for requesting a 7 day demo trial, <br/> we will contact you shortly with a download link.
          </p></span>
       </div>  
     </div>
  <div id='woform' class='row'>
     
    
    <div class="large-2 columns">
    </div>
  </div> 
</div>
