<header>
  <div class="row">
   <div class="large-3 columns">
      <span id='wlogo'><%= link_to image_tag("logo1.png", alt:"Logo"),root_path %></span>
    </div>  
     <div class="large-2 columns"> </div>
    <div class="large-7 columns">  
        <p id='signtop'><a id='sign' href=''>Sign in</a> or <a id='sign' href=''>recover password</a></p></li>
    </div> 
  </div>
</header>